h2 {
  color: #00ccff;
  font-family: "Circular","Arial", sans-serif;
}

h3 {
  color: #318880;
  font-family: cursive;
}

p {
  color: #black;
  font-family: "Avenir", sans-serif;
  white-space: pre-wrap;
  text-align: left;
}

li{
  color: #black;
  font-family: "Avenir", sans-serif;
  white-space: normal;
  text-align: left;
  float: none;
}

ul{
  color: #black;
  font-family: "Avenir", sans-serif;
  white-space: normal;
  text-align: left;
  float: none;
  display: block;

}

ol{
  color: #black;
  font-family: "Avenir", sans-serif;
  white-space: pre-wrap;
  text-align: left;
}

div{
  color: #black;
  font-family: "Avenir", sans-serif;
  white-space: pre-wrap;
  text-align: left;
}
